* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body, button, input, textarea {
  font-size: 1.6rem;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #eee;
  color: #000;
}

a, a:link, a:visited {
  text-decoration: none;
  color: #000;
}

.container {
  width: 70%;
  min-height: calc(100vh + 10rem);
  margin: 3rem auto;
  
  display: grid;
  grid-template-rows: repeat(2, min-content);
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
  row-gap: 4rem;
}

.animLeft {
  transform: translateX(-100px);
  opacity: 0;
  animation: fromLeft .5s forwards;
}

@keyframes fromLeft {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}